<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/login-style">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" id="username" required="required" />
            <input type="password" name="password" placeholder="Password" id="password" required="required" />
            <%try{if(error){%>
                <p style="color: red;"><%=error%></p>
            <%}}catch(e){}%>
            <button type="submit">Login</button>
        </form>
        <p>Not registered yet? <a href='signup'>Signup Here</a></p>
    </div>
</body>
</html>